<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/ext/resources/css/ext-all-debug.css")" />
    <link href="@Url.Content("~/Content/icons.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="@Url.Content("~/Scripts/ext/bootstrap.js")"></script>
    @RenderSection("scripts", required:false)
</head>

<body>
</body>
    @RenderBody()
</html>
