<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/ext/resources/css/ext-all.css")"/>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/icons.css")"/>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ext/bootstrap.js")"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/user-common.css")"/>
    @RenderSection("additionalCSS", required:false)


 
 <script>
     var sdoorl = true;
     var sdoorr = true;

     function sdoor_open(dir) {

         if (!sdoorl && dir == 'l') return;
         if (!sdoorr && dir == 'r') return;
         var left = 0; // начальное значение
         function move() { // функция для отрисовки
             left -= 3;
             document.getElementById('sdoor' + dir + 'l').style.left = left + 'px';
             document.getElementById('sdoor' + dir + 'r').style.left = 46 - left + 'px';
             if (left <= -102) {

                 clearInterval(timer); // завершить анимацию

                 if (dir == 'l') {
                     sdoorl = false;
                     setTimeout(sdoor_force_l, 10000);
                 }
                 else {
                     sdoorr = false;
                     setTimeout(sdoor_force_r, 10000);
                 }
             }
         }
         var timer = setInterval(move, 1) // рисовать каждые 10мс
     }

     function sdoor_close(dir) {

         if (sdoorl && dir == 'l') return;
         if (sdoorr && dir == 'r') return;
         
         var left = -102; // начальное значение
         function move() { // функция для отрисовки
             left += 3;
             document.getElementById('sdoor' + dir + 'l').style.left = left + 'px';
             document.getElementById('sdoor' + dir + 'r').style.left = 46 - left + 'px';
             if (left >= 0) {
                 if (dir == 'l') {
                     sdoorl = true;
                 } else {
                     sdoorr = true;
                 }
                 clearInterval(timer); // завершить анимацию
             }
         }
         var timer = setInterval(move, 1) // рисовать каждые 10мс
     }

     function sdoor_force_l() {
         sdoor_close('l');
     }
     function sdoor_force_r() {
         sdoor_close('r');
     }

     var framel = 0;

     var demolTimer;

     function demol_animate() {
         clearInterval(demolTimer);
         var frames = document.getElementById("demolcontainer").children;
         function move() {
             frames[framel].style.display = "none";
             framel++;
             if (framel == 12) {
                 framel = 6;
             }
             console.log(framel);
             frames[framel].style.display = "block";

         }
         demolTimer = setInterval(move, 100);
     }

     function demol_stop() {
         clearInterval(demolTimer);
         var frames = document.getElementById("demolcontainer").children;
         function move() {
             if (framel < 1) {
                 clearInterval(demolTimer);
                 framel = 1;
             }
             frames[framel].style.display = "none";
             framel--;
             console.log(framel);
             frames[framel].style.display = "block";

         }
         demolTimer = setInterval(move, 100);
     }


     var framer = 0;

     var demorTimer;

     function demor_animate() {
         clearInterval(demorTimer);
         var frames = document.getElementById("demorcontainer").children;
         function move() {
             frames[framer].style.display = "none";
             framer++;
             if (framer == 12) {
                 framer = 6;
             }
             console.log(framer);
             frames[framer].style.display = "block";

         }
         demorTimer = setInterval(move, 70);
     }

     function demor_stop() {
         clearInterval(demorTimer);
         var frames = document.getElementById("demorcontainer").children;
         function move() {
             if (framer < 1) {
                 clearInterval(demorTimer);
                 framer = 1;
             }
             frames[framer].style.display = "none";
             framer--;
             console.log(framer);
             frames[framer].style.display = "block";

         }
         demorTimer = setInterval(move, 70);
     }


     var framep = 0;

     var playTimer;

     function play_animate() {
         clearInterval(playTimer);
         var frames = document.getElementById("playcontainer").children;
         function move() {
             frames[framep].style.display = "none";
             framep++;
             if (framep == 24) {
                 framep = 12;
             }
             console.log(framep);
             frames[framep].style.display = "block";

         }
         playTimer = setInterval(move, 70);
     }

     function play_stop() {
         clearInterval(playTimer);
         var frames = document.getElementById("playcontainer").children;
         frames[framep].style.display = "none";
         framep = 0;
         console.log("t"+framep);
         frames[0].style.display = "block";
         
     }
</script>

  
    
    @RenderSection("scripts", required:false)
</head>
<body>
    <div>
       <div class="background">
  
	<div class="leftshade">
	</div> 
	<div class="rightshade">
	</div> 
	<div class="topshade">
	</div> 
	<div class="bottomshade">
	</div> 
	<div class="main">
        <div class="logo">
            <embed width="133" height="83" align="" type="application/x-shockwave-flash" src="/Content/sprites//logo.swf">
        </div>
		<p>
			<map name="DemoButton">
				<area shape="circle" coords="62,62,62" href="index.html" alt="Demo">
			</map>
		</p>
        <p>
			<map name="PlayButton">
				<area shape="rectangle" coords="15,15,220,65" href="index.html" alt="Play">
			</map>
		</p>
        
		@RenderSection("renderArea", required:true)
        <div class="play" id="playcontainer">
            <img src="/Content/Sprites//play//play (1).png" usemap="#PlayButton" style="display:block">
            <img src="/Content/Sprites//play//play (2).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//play (3).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//play (4).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//play (5).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//play (6).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//play (7).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//play (8).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//play (9).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//play (10).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//play (11).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//play (12).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//noblink//play (1).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//noblink//play (2).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//noblink//play (3).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//noblink//play (4).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//noblink//play (5).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//noblink//play (6).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//noblink//play (7).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//noblink//play (8).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//noblink//play (9).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//noblink//play (10).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//noblink//play (11).png" usemap="#PlayButton" style="display:none">
            <img src="/Content/Sprites//play//noblink//play (12).png" usemap="#PlayButton" style="display:none">
        </div>
        <div class="play" onmouseover = "play_animate()" onmouseout = "play_stop()">
        </div>
		@RenderSection("topPanel", required:true)
			
		<div class="demoleft" id="demolcontainer">
			<img src="/Content/Sprites//demo//demo (1).png" usemap="#DemoButton" style="display:block">
            <img src="/Content/Sprites//demo//demo (2).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (3).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (4).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (5).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (6).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (7).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (8).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (9).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (10).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (11).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (12).png" usemap="#DemoButton" style="display:none">
		</div>
        <div class="demoleft" onmouseover = "demol_animate()" onmouseout = "demol_stop()">
		</div>
        <div class="buttonleft">
			<div class="sdoorll" id = "sdoorll">
				<img src="/Content/Sprites//door_s_left.jpg">
			</div>
			<div class="sdoorlr" id = "sdoorlr">
				<img src="/Content/Sprites//door_s_right.jpg">
			</div>
		</div>
		<a href="http://itschool.ssau.ru" target="_blank">
			<div class="invisiblebuttonleft" onmouseover="sdoor_open('l')" onmouseout="sdoor_close('l')">
			</div>
		</a>
		<div class="buttonright">
			<div class="sdoorll" id = "sdoorrl">
				<img src="/Content/Sprites//door_s_left.jpg">
			</div>
			<div class="sdoorlr" id = "sdoorrr">
				<img src="/Content/Sprites//door_s_right.jpg">
			</div>
		</div>
		<a href="http://distance.itschool.ssau.ru" target="_blank">
			<div class="invisiblebuttonright" onmouseover="sdoor_open('r')" onmouseout="sdoor_close('r')">
			</div>
		</a>
		<div class="demoright" id="demorcontainer">
			<img src="/Content/Sprites//demo//demo (1).png" usemap="#DemoButton" style="display:block">
            <img src="/Content/Sprites//demo//demo (2).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (3).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (4).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (5).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (6).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (7).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (8).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (9).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (10).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (11).png" usemap="#DemoButton" style="display:none">
            <img src="/Content/Sprites//demo//demo (12).png" usemap="#DemoButton" style="display:none">
		</div>
        <div class="demoright" onmouseover = "demor_animate()" onmouseout = "demor_stop()">
		</div>
        <div class="copyright">
            <p align="center" style="letter-spacing:0.8px;"><font face="Britannic" color="white" size="2">&copy;2012—2013 3D Education</font></p>
        </div>
		@RenderSection("sliderArea", required:false)
	</div> 
        @RenderBody()
    </div>
    </div>
</body>
</html>